.card {
  background: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: var(--font-agbalumo);
  font-size: 28px;
  text-align: center;
}

.emptyImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: min-content !important;
  margin: 10px 0px;
}

.emptyImage img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.icon_camera {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  right: 0px;
  left: 0px;
}

.icon_camera i {
  display: flex;
  align-items: center;
  background: white;
  padding: 3px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.label {
  color: rgb(43, 43, 43);
  font-weight: 500;
  font-size: 13px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  font-family: inherit;
  background: transparent;
  border: 1.5px dashed var(--marron);
  color: black;
  text-align: start;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.button {
  width: 100%;
  background: var(--marron);
  color: white;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 15px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
