.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.title_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px dashed var(--marron);
  padding: 20px 40px;
}

.title_button h1 {
  width: 100%;
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-weight: 400;
  font-size: 30px;
  position: relative;
  text-align: start;
  position: relative;
}

.content {
  width: 100%;
  padding: 0px 24px 24px 24px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
