.container {
  width: 100%;
  height: auto;
  min-height: calc(100vh -20px);
  border-radius: 20px;
  border: 2px solid var(--marron);
  box-shadow: var(--box-shadow);
  background: rgba(255, 255, 255, 0.917);
}
