.form {
  width: 100%;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.emptyImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: min-content !important;
  margin: 10px 0px;
}

.emptyImage img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.icon_camera {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  right: 0px;
  left: 0px;
}

.icon_camera i {
  display: flex;
  align-items: center;
  background: white;
  padding: 3px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(43, 43, 43);
  font-weight: 500;
  font-size: 13px;
  width: 100%;
}

.form .image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.form input {
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  font-family: inherit;
  background: transparent;
  border: 1px solid var(--green);
  text-align: start;
}
.form input {
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  font-family: inherit;
  background: transparent;
  border: 1.5px dashed var(--marron);
  color: black;
  text-align: start;
  font-size: 14px;
}

.input_container {
  position: relative;
}

.togglePassword {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  padding: 0 15px;
}

.form select {
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  font-family: inherit;
  background: transparent;
  border: 1.5px dashed var(--marron);
  color: black;
  text-align: start;
  font-size: 14px;
}

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form input:focus,
.form select:focus {
  outline: none;
  border: 1.5px dashed var(--marron);
  box-shadow: none;
}
.form .button_submith {
  width: 100%;
  background: var(--marron);
  color: white;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 15px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form small {
  color: rgb(255, 91, 91);
}
