.cart_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 60px;
  height: auto;
  z-index: 99999;
  margin: 20px;
}

.cart_container a {
  display: flex;
  align-items: center;
}

.cart_container a svg {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.216));
}

.count_link {
  background: black;
  color: white;
  font-size: 10px;
  font-weight: 500;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10000;
  box-shadow: var(--box-shadow);
}
