.user_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user_container img {
  border-radius: 9999px;
  width: 65px;
  height: 65px;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--box-shadow);
}

.user_container .user_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.user_container .user_info span {
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-size: 20px;
}

.user_container .user_info button {
  background-color: var(--marron);
  box-sizing: var(--box-shadow);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 13px;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
}

.container_modal {
  padding: 24px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  gap: 10px;
  overflow-y: auto;
  max-height: 90vh;
}

.container_modal h2 {
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-weight: 400;
  font-size: 30px;
  position: relative;
  text-align: start;
}

.container_modal .details {
  display: flex;
  align-items: center;
  gap: 30px;
}

.order_button {
  border: 1px solid var(--marron);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  font-family: inherit;
  color: var(--marron);
}
