.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container .imagen {
  position: absolute;
  top: 50px;
  right: -100px;
  width: 500px;
  height: auto;
  z-index: -1;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h2 {
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-weight: 400;
  font-size: 60px;
  letter-spacing: -1px;
  text-align: center;
}

@media (max-width: 768px) {
  .title h2 {
    font-size: 40px;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
  }
}
