.container {
  width: 100%;
  height: auto;
}

.container h1 {
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-weight: 400;
  font-size: 30px;
  position: relative;
  text-align: start;
  position: relative;
  line-height: 0px;
  padding: 40px;
  border-bottom: 1.5px dashed var(--marron);
}

.content {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
