.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0px;
}

.container_messages {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-agbalumo);
  text-align: center;
  font-size: 30px;
  color: var(--marron);
}

.container h1 {
  width: 90%;
  font-family: var(--font-agbalumo);
  text-align: center;
  font-size: 45px;
}

.content {
  width: 90%;
  max-width: 900px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.orderCard {
  width: 100%;
  border: 1.5px solid var(--marron);
  background: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 16px;
}

.header_card span,
.header_card strong,
.content_card span,
.info_aditional span {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.header_card strong {
  font-weight: 600;
  font-size: 18px;
}

.header_card span,
.content_card span,
.info_aditional span {
  font-size: 14px;
  font-weight: 400;
  color: rgb(40, 40, 40);
}

.header_card .col_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header_card .col_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}

.header_card .col_1 .date_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 16px;
}

.content_card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content_card span p {
  color: black;
  font-weight: 500;
}

.number_product_and_method {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 16px;
}

.email_note {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail_card {
  border-top: 1px solid rgb(220, 220, 220);
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail_card h3 {
  font-size: 18px;
  font-weight: 600;
}

.detail_card h4 {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
}

.detail_card .product_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
}

.product_container .info_product {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.product_container .info_product img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--box-shadow);
}

.info_aditional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 16px;
}

.product_container span {
  font-size: 14px !important;
}

.info_aditional span p {
  color: black;
  font-weight: 500;
}

.buttons_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttons_card button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttons_card button:nth-of-type(1) {
  border: 1.5px solid var(--marron);
  color: var(--marron);
}
.buttons_card button:nth-of-type(2) {
  border: 1.5px solid var(--marron);
  background: var(--marron);
}

@media (max-width: 600px) {
  .container {
    padding: 100px 0px 50px 0px;
  }

  .container h1 {
    font-size: 35px;
  }

  .orderCard {
    padding: 20px;
  }

  .header_card .col_2 {
    gap: 20px;
  }

  .header_card .col_1 {
    gap: 20px;
  }
  .header_card {
    align-items: flex-start;
  }

  .buttons_card {
    flex-direction: column;
    gap: 10px;
  }
}
