.form {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background: white;
  padding: 24px;
  border-radius: 20px;
  border: 1.5px solid var(--marron);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 24px;
}

.form .label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(43, 43, 43);
  font-weight: 500;
  font-size: 13px;
  width: 100%;
  position: relative;
}

.form .input {
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  font-family: inherit;
  background: transparent;
  border: 1.5px dashed var(--marron);
  color: black;
  text-align: start;
  font-size: 14px;
}

.emoji_button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 54px;
  padding: 0px 10px;
}

.emoji_picker {
  position: absolute;
  top: 96px;
  left: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.form .input:focus {
  outline: none;
  border: 1.5px dashed var(--marron);
  box-shadow: none;
}

.form .button_submith {
  width: 100%;
  background: var(--marron);
  color: white;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 15px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form small {
  color: rgb(255, 91, 91);
}

@media (max-width: 1000px) {
  .form {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .form {
    position: static;
    top: 0;
  }
}
