.container_modal {
  padding: 24px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  gap: 10px;
  overflow-y: auto;
  max-height: 90vh;
  min-height: 90vh;
}

.container_modal h2 {
  width: 100%;
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-weight: 400;
  font-size: 25px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 0px;
}

.container_modal h2 img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.container_modal .details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 0px;
}

.container_modal .details p {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: 1.5px solid var(--marron);
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.container_modal .details strong {
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
}

.container_modal .details p span {
  color: var(--marron);
  font-weight: 500;
}

.order_button {
  border: 1px solid var(--marron);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  color: var(--marron);
  margin-left: auto;
}

.container_button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.container_button button {
  border: 1.5px dashed var(--marron);
  color: var(--marron);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}

.container_button button i {
  display: flex;
  align-items: center;
  background: var(--marron);
  padding: 2px;
  border-radius: 9999px;
}
