* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
  max-height: 100vh;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url(../fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
}

body {
  font-family: 'Poppins', sans-serif;
}

body button {
  border: none;
}

.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(250 247 242);
  position: relative;
  padding-bottom: calc(96px + 24px);
}

.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: rgb(255 255 255);
  border: 1px solid rgb(233 224 213);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.header .title h3 {
  font-size: 25px;
  font-weight: 600;
  color: #654537;
  letter-spacing: -0.3px;
}

.header .title span {
  font-size: 16px;
  color: var(--marron);
}

.header .date span {
  font-size: 18px;
  color: var(--marron);
  padding-right: 10px;
  border-right: 1px solid #b57f68;
}

.header .date strong {
  font-size: 20px;
  color: #654537;
  padding-left: 10px;
  font-weight: 600;
}

.container_orders {
  width: 100%;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.container_orders .loading {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--marron);
  font-size: 25px;
}

.container_orders .card {
  border-radius: 12px;
  border: 1px solid rgb(233 224 213);
  overflow: hidden;
  background: rgb(255 255 255);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card .card_header {
  background-color: #f8f5f1;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  border-bottom: 1px solid rgb(233 224 213);
}

.card .title_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.card .title_header h3 {
  font-size: 18px;
  font-weight: 600;
}

.card .title_header span {
  font-weight: 500;
  font-size: 12px;
  padding: 4px 10px;
  border: 1px solid rgb(253 230 138);
  border-radius: 9999px;
  background: rgb(254 243 199);
  color: rgb(146 64 14);
}

.card .order_header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.card .order_header span:first-of-type {
  font-weight: 500;
  font-size: 14px;
  color: var(--marron);
}

.card .order_header i {
  display: flex;
  align-items: center;
  color: var(--marron);
}

.card .order_header span:nth-of-type(2) {
  font-weight: 400;
  font-size: 13px;
  color: var(--marron);
}

.card .order_header span:nth-of-type(3) {
  font-weight: 400;
  font-size: 13px;
  color: var(--marron);
}

.card .card_body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-grow: 1;
}

.card .card_body h3 {
  font-size: 14px;
  font-weight: 500;
  color: #654537;
}

.card .card_body .products_body {
  width: 100%;
  max-height: 180px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card .card_body .products_body li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

.card .card_body .products_body li img {
  width: 46px;
  height: 46px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: var(--box-shadow);
}

.card .card_body .products_body li .info {
  width: 100%;
  padding: 0px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card .card_body .products_body li .info div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card .card_body .products_body li .info div h4 {
  font-size: 24px;
  font-weight: 500;
}

.card .card_body .products_body li .info div span {
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
}

.card .card_body .products_body li .info p {
  background: rgb(0, 0, 0);
  color: white;
  width: min-content;
  text-wrap: nowrap;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 8px;
  border-radius: 5px;
}
.card .card_body .products_body li .info p span {
  font-size: 18px;
  letter-spacing: 1px;
}

.card .card_body .button_body {
  width: 100%;
  margin-top: auto;
}

.card .card_body .note_body {
  width: 100%;
  border-top: 1px solid rgb(229, 231, 235);
  margin-top: 10px;
}

.card .card_body .note_body h4 {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #654537;
  margin-top: 10px;
}

.card .card_body .note_body p {
  margin-top: 4px;
  padding: 16px;
  font-size: 14px;
  background: rgb(250 247 242);
  border: 1px solid rgb(233 224 213);
  color: rgb(149 104 77);
  border-radius: 12px;
  font-size: 13px;
}

.card .card_body .button_body button {
  width: 100%;
  color: white;
  background: rgb(158, 108, 65);
  padding: 16px;
  border-radius: 12px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* .fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
 */
