.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title {
  font-family: var(--font-agbalumo);
  font-size: 40px;
}

.card {
  background: white;
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 20px 20px 15px 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  border: 1.5px solid var(--marron);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h2 {
  font-size: 20px;
  font-weight: 600;
}

.info span {
  font-size: 15px;
  color: grey;
  margin-bottom: 10px;
}

.info p {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.button {
  width: 100%;
  background: var(--black);
  color: white;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 15px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .buttons {
    flex-direction: column;
  }
}
