:root {
  --background: rgb(255, 250, 238);
  --black: #040404;
  --crema-oscuro: #fff2d7;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.224);
  --marron: rgb(150, 97, 51);
  --success: #198754;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
