.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 30px;
}

.handDraw {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
}
.content h1 {
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-weight: 400;
  font-size: 90px;
  letter-spacing: -1px;
  position: relative;
  text-align: center;
  position: relative;
  padding: 0px 30px;
}

.content h2 {
  color: var(--black);
  font-weight: 400;
  font-size: 20px;
  max-width: 500px;
  text-align: center;
  line-height: 35px;
}

.button_and_arrow {
  position: relative;
}

.button_and_arrow button {
  width: 180px;
  height: 60px;
  font-size: 16px;
  background: var(--black);
  color: white;
  border-radius: 30px;
  font-family: inherit;
  margin-top: 15px;
  box-shadow: var(--box-shadow);
}

.button_and_arrow .ArrowHandDraw {
  height: auto;
  position: absolute;
  top: 100px;
  right: -40px;
  display: flex;
  align-items: center;
  z-index: -1;
  transform: rotate(15deg);
}

@media (max-width: 1024px) {
  .content {
    padding: 0px;
  }

  .content h1 {
    font-size: 70px;
  }
}

@media (max-width: 610px) {
  .content {
    padding: 0px;
    gap: 0px;
    width: 90%;
  }

  .content h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .content h2 {
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
  }
}

@media (max-width: 425px) {
  .container {
    min-height: calc(100vh - 75px);
  }
  .handDraw {
    top: -10px;
  }
  .content h1 {
    font-size: 60px;
    line-height: 65px;
  }
}
