.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  /* box-shadow: var(--box-shadow); */
  border: 2px dashed var(--marron);
}

.user .avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 5px;
}
