.container_products {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.skeleton_title {
  width: 320px;
  height: 50px;
  margin: 0px 50px;
  background: #e0e0e0;
  border-radius: 30px;
}

.skeleton_card {
  background: #e0e0e0;
  max-width: 300px;
  min-width: 300px;
  min-height: 350px;
  border-radius: 30px;
}
.skeleton_title {
  position: relative;
  overflow: hidden;
}

.skeleton_card {
  position: relative;
  overflow: hidden;
}

.skeleton_card::after,
.skeleton_title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.294) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: loading 1.5s infinite;
  z-index: 1;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.container_categoria {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container_categoria:last-of-type {
  padding-bottom: 100px;
}
.title_buttons {
  padding: 0px 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoria_title {
  width: 100%;
  font-family: var(--font-agbalumo);
  font-weight: 400;
  font-size: 40px;
  color: var(--black);
  text-align: start;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title_buttons .buttons button {
  display: flex;
  align-items: center;
}

.container_categoria .scroll_productos {
  width: 100%;
  overflow: hidden;
}

.container_categoria .productos {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-x: auto;
  width: 100%;
  padding: 20px 20px 20px 50px;
  gap: 20px;
}

.producto {
  max-width: 300px;
  min-width: 300px;
  min-height: 350px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.224);
  overflow: hidden;
}

.content_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 300px;
  height: 200px;
  /* object-fit: cover; */
  /* object-position: center; */
}

.info_card {
  padding: 24px 24px 0px 24px;
  width: 100%;
}

.producto_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1.5px dashed var(--marron);
  padding-bottom: 10px;
}

.producto_header h4 {
  font-family: var(--font-agbalumo);
  font-weight: 400;
  font-size: 20px;
  text-wrap: balance;
}

.producto_header span {
  font-size: 16px;
  color: rgb(52, 52, 52);
}

.producto_descripcion {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 25px;
  color: rgb(52, 52, 52);
}

.buttons_add_products {
  width: 100%;
  padding: 15px;
}

.button_add {
  font-size: 15px;
  min-height: 44px;
  width: 100%;
  font-family: inherit;
  padding: 10px;
  border-radius: 30px;
  background: black;
  color: white;
}

.quantity_buttons {
  font-size: 15px;
  width: 100%;
  font-family: inherit;
  padding: 10px;
  border-radius: 30px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity_buttons button {
  font-size: 15px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .container_products {
    gap: 10px;
  }

  .categoria_title {
    font-size: 35px;
    letter-spacing: -1px;
    text-align: center;
    padding: 0px;
  }

  .container_categoria .productos {
    padding: 20px;
  }

  .container_categoria:last-of-type {
    padding-bottom: 50px;
  }

  .buttons {
    display: none;
  }
}

.loading {
  width: 100%;
  height: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
