.filter_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 0px 24px;
  overflow: scroll;
}

.filter_container label {
  display: flex;
  align-items: center;
  position: relative;
}

.filter_container label .icon_lupa {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 13px;
}

.filter_container label i {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 0;
}

.filter_container input {
  font-size: 13px;
  font-family: inherit;
  padding: 10px;
  padding-left: 35px;
  border-radius: 30px;
  border: 1.5px dashed var(--marron);
  min-width: 200px;
  color: black;
}

.filter_container select {
  width: 145px;
  font-size: 13px;
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1.5px solid var(--marron);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  z-index: 1;
  color: black;
}

.filter_container button {
  font-size: 13px;
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  background: var(--marron);
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  text-wrap: nowrap;
}

.filter_container input:focus,
.filter_container select:focus,
.filter_container button:focus {
  outline: none;
  box-shadow: none;
}
