.container {
  width: 100%;
  height: auto;
}

.title_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px dashed var(--marron);
  padding: 24px;
}

.title_button h1 {
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-weight: 400;
  font-size: 30px;
  position: relative;
  text-align: start;
  position: relative;
}

.title_button .date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}

.title_button .button_open_cash {
  text-wrap: nowrap;
  font-size: 14px;
  font-family: inherit;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1.5px dashed var(--marron);
  color: var(--marron);
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
}

.reports_products {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.reports_products .card {
  border: 1.5px solid var(--marron);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 20px;
}

.card div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card div span {
  font-size: 14px;
  font-weight: 500;
}

.card div i {
  display: flex;
  align-items: center;
}

.card .efec_trans {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  gap: 5px;
}

.card .efec_trans span {
  font-size: 12px;
  font-weight: 500;
  color: var(--marron);
}

.card p {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttons button {
  font-size: 14px;
  font-family: inherit;
  padding: 10px 15px 10px 10px;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.buttons button:nth-of-type(1) {
  background: #007bff;
}
.buttons button:nth-of-type(2) {
  background: #28a745;
}
.buttons button:nth-of-type(3) {
  background: #dc3545;
}

.buttons button i {
  display: flex;
  align-items: center;
  background: white;
  padding: 2px;
  border-radius: 9999px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
