.container {
  width: 100%;
  height: auto;
}

.title_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px dashed var(--marron);
  padding: 20px 40px;
}

.title_button h1 {
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-weight: 400;
  font-size: 30px;
  position: relative;
  text-align: start;
  position: relative;
}

.content {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
}

.reports_products {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.reports_products .card {
  border: 1.5px solid var(--marron);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px 20px;
}

.card div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card div span {
  font-size: 14px;
  font-weight: 500;
}

.card div i {
  display: flex;
  align-items: center;
}

.card p {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
