.container_modal {
  padding: 24px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  overflow-y: auto;
  max-height: 90vh;
}

.container_modal h2 {
  width: 100%;
  font-family: var(--font-agbalumo);
  color: var(--black);
  font-weight: 400;
  font-size: 35px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 0px;
  padding: 15px 0px 0px 0px;
}
.container_modal form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container_modal form p {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--marron);
  font-weight: 600;
  font-size: 14px !important;
  text-transform: uppercase;
}

.form_group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  padding-top: 20px;
}

.container_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  gap: 10px;
}

.container_buttons button i {
  display: flex;
  align-items: center;
  background: white;
  padding: 2px;
  border-radius: 9999px;
}

.container_buttons button {
  border: 1.5px solid var(--marron);
  color: white;
  background: var(--marron);
  padding: 10px 15px 10px 10px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}

.container_buttons button:nth-of-type(1) {
  border: 1.5px solid var(--black);
  color: white;
  background: rgb(33, 33, 33);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}
